@charset "UTF-8";

/* ---------------------- GLOBAL STYLES ---------------------- */

@font-face {
    font-family: "KOGOK";
    src: url("fonts/KOGOK.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

body {
    margin: 15px;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-content: center;
}

/* ---------------------- VIDEO BACKGROUND ---------------------- */

#uyuni {
    position: relative;
    right: 0;
    bottom: 0;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    z-index: -1;
}

/* ---------------------- CONTENT AREAS ---------------------- */

.content {
    position: relative;
    color: #010101;
    width: 100%;
    padding: 20px;
}

.content2 {
    margin-top: 200px;
    flex-grow: 1;
    top: 70px;
    background-color: #ffffff;
    color: #010101;
    width: 99%;
    height: 1100px;
    padding: 10px;
    text-align: center;
    text-transform: inherit;
}

section .content2 h1 {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    text-align: center;
    font-size: 300px;
}

section .content2 p {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    font-size: 200px;
}

.whitebox {
    position: absolute;
    top: 75px;
    background-color: white;
    color: #010101;
}

/* ---------------------- BUTTON ---------------------- */

#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}

/* ---------------------- SECTIONS ---------------------- */

section {
    position: fixed;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

section::before {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 25%;
    background: #0c67d6;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    transform: scaleX(1.5);
}

section .content {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    text-align: center;
    max-width: 900px;
}

/* ---------------------- TEXT USING KOGOK ---------------------- */

body .content h2 {
    margin: 0;
    padding: 0;
    font-size: 125px;
    font-family: "KOGOK", sans-serif;
    color: #000000;
}

section .content p {
    font-family: "KOGOK", sans-serif;
    font-size: 32px;
    color: #000000;
}

/* ---------------------- POSITIONING HELPERS ---------------------- */

.move-c2       { position: relative; top: -90px;  left: -500px; }
.move-about    { position: relative; top: -90px;  left: -500px; }
.move-it       { position: relative; top: -130px; left: -250px; }
.move-location { position: relative; top: -200px; right: -250px; }
.move-book     { position: relative; top: -290px; right: -500px; }

/* ---------------------- CIRCLE ELEMENT ---------------------- */

.circle-box {
    width: 100%;
    height: 150px;
    position: absolute;
    top: 700px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------------------- CONTENT TYPOGRAPHY ---------------------- */

.contenth1 {
    font-family: "kepler-std-semicondensed";
    font-size: 70px;
    margin-top: -150px;
}

.contentp {
    font-size: 30px;
    font-family: "kepler-std-semicondensed";
}

/* ---------------------- FOOTER ---------------------- */

.footer-notes {
    padding: 2px;
    text-align: center;
    background-color: #0069DE;
    font-family: "calendula", sans-serif;
    font-weight: bold;
    width: auto;
    font-style: normal;
}

/* ---------------------- IMAGES ---------------------- */

.imageefects {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* ---------------------- LINKS ---------------------- */

a:link {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}

a:active {
    color: #000000;
    text-decoration: none;
}
